div,
p {
  color: red;
  font-family: -apple-system, PingFang SC, BlinkMacSystemFont, Helvetica Neue,
    Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei,
    Arial, sans-serif;
}
.question-title {
  line-height: 24px;
  font-weight: bold;
  color: #31285d;
  margin-bottom: 10px;
}
.question-title .choice-tag {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 8px;
  font-weight: normal;
  padding: 4px 8px;
  color: #6741ef;
  font-size: 12px;
  line-height: 1;
  background: #e8e2ff;
  border-radius: 16px;
  vertical-align: 0.25em;
}
.question-title .choice-tag2 {
  display: inline-block;
  padding: 1px 8px;
  margin-right: 8px;
  font-weight: 400;
  color: #6741ef;
  font-size: 10px;
  line-height: 18px;
  background: #e8e2ff;
  border-radius: 16px;
  vertical-align: 0.2em;
}
.question-title .choice-tag3 {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 8px;
  font-weight: normal;
  padding: 0 8px;
  color: #6741ef;
  font-size: 12px;
  line-height: 20px;
  background: #e8e2ff;
  border-radius: 16px;
  transform: scale(0.8);
  transform-origin: 0 0;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
